html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	color: #292929;
}

a {
	color: #292929;
}

a:hover {
	color: #636363;
}

header, h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #292929;
}

h2::before { 
  display: block; 
  content: " "; 
  margin-top: -55px; 
  height: 55px; 
  visibility: hidden; 
  pointer-events: none;
}

h3 {
	font-family: "Roboto Slab";
	font-weight: 300;
	color: white;
}

#highlight {
	background-color: black;
	padding: 0px 10px 0px 10px;  
}

p {
	line-height: 1.3rem;
}

#main-doc ol {
	padding: 20px 0px 0px 45px; 
}

#main-doc li {
	line-height: 1.5rem;
	margin-bottom: 15px;
	max-width: 50rem;
}

dt {
	padding-bottom: 5px;
}

dd {
	padding-bottom: 25px;
}

pre {
	max-width: 90vw;
	border-left: 5px solid #3d7e9a;
}

hr {
	color: #292929;
	margin: 2rem 0rem 2rem 0rem;
}

/* --- MAIN PAGE LAYOUT --- */

/*Flex Container*/
#flex-wrapper {
	display: flex;
  height: 100vh;
  overflow: hidden;
}

/*Flex Item*/
#main-doc {
	flex: 4;
  /*padding: 1rem 8rem 1rem 2rem;*/
  overflow: scroll;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  background-color: #edfffd;
}

#main-doc-inner {
	margin: 1rem 8rem 0rem 2rem;
	padding: 1rem 9rem 1rem 5rem;
	background-color: white;
	flex: 1fr;
}

/* --- NAVIGATION --- */

/* Flex Container */
nav {
	flex: 1;
	/*border-right: 0.5px solid black;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 100vh;
  width: 20vw;
  background-color: #edfffd;
}

/* Flex Item */
nav ul {
	list-style: none;
	font-family: 'Roboto Slab', serif;
	margin: 1rem 0 0 1rem;
	padding: 0;
	flex: 1;
}

nav li {
	background-color: white; 
	/*border-right: 0.5px solid black;*/
}

#nav-header {
	font-weight: 400;
	padding: 1rem 1rem 1rem 1rem;
	/*border-bottom: 1px solid #292929;*/
}

.nav-link {
	display: block;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  color: #292929;
  font-weight: 300;
  /*border-bottom: 1px solid #292929;*/
}

.nav-link:hover {
	background-color: #cbfdf7;
	/*border-right: 1px solid #292929;*/
}

/* --- MEDIA QUERIES --- */

@media all and (max-width: 1100px) {
	#main-doc-inner {
		margin: 0rem 2rem 0rem 2rem;
		padding: 1rem 4.5rem 1rem 2.5rem;
	}

	nav ul {
		margin: 0;
	}

}

@media all and (max-width: 765px) {

	#flex-wrapper {
		display: inline;
		min-height: 100vh;
	}

	nav ul {
		margin: 0 2rem 0 2rem;	
	}

	#main-doc-inner {
	margin: 0rem 2rem 0rem 2rem;
	padding: 1rem 2rem 1rem 2rem;
}

	nav {
		min-height: 50vh;
		width: 100vw;
	}
}

@media all and (max-width: 600px) {

	nav ul {
		margin: 0 1rem 0 1rem;	
	}

	#main-doc-inner {
		margin: 0rem 1rem 0rem 1rem;
		padding: 1rem;
	}
}
