html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;
	color: #292929;
}

a {
	color: #292929;
}

a:hover {
	color: #636363;
}

header {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #292929;
}

p {
	line-height: 1.3rem;
}

dd {
	padding-bottom: 10px;
}

#main-doc li {
	line-height: 1.5rem;
	margin-bottom: 6px;
}

hr {
	color: #292929;
	margin: 2rem 0rem 2rem 0rem;
}

/* --- MAIN PAGE LAYOUT --- */

/*Flex Container*/
#flex-wrapper {
	display: flex;
  height: 100vh;
  overflow: hidden;
}

/*Flex Item*/
#main-doc {
	flex: 3;
  padding: 1rem 8rem 1rem 2rem;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

/* --- NAVIGATION --- */

/* Flex Container */
nav {
	flex: 1;
	border-right: 0.5px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 100vh;
  width: 20vw;
  background-color: #edfffd;
  /*position: fixed;*/
}

/* Flex Item */
nav ul {
	list-style: none;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	flex: 1;
}

#nav-header {
	font-weight: 400;
	padding: 1rem 1rem 1rem 1rem;
	border-bottom: 1px solid #292929;
}

.nav-link {
	display: block;
  padding: 1rem 1rem 1rem 1rem;
  text-decoration: none;
  color: #292929;
  font-weight: 300;
  border-bottom: 1px solid #292929;
}

.nav-link:hover {
	background-color: #cbfdf7;
	border-right: 1px solid #292929;
}

/* --- MEDIA QUERIES --- */

@media all and (max-width: 765px) {

	#flex-wrapper {
		display: inline;
		min-height: 100vh;
	}

	#main-doc {
		padding: 1rem 2rem 1rem 1rem;
	}

	nav {
		min-height: 50vh;
		width: 100vw;
	}

}



